<div>

  <div *ngIf="me == false" style="float: left" class="msg them">
      <div>
        <div *ngIf="text" [innerHtml]="text"  class="msg_text"></div>
        <img *ngIf="imageURL" [src]="imageURL" style="cursor: pointer" (click)="openInNewTab(imageURL)"  class="msg_text" />
      </div>
      <span class="msg_timestamp" [innerHtml]="date | date : 'medium'"></span>
  </div>

  <div *ngIf="me == true" style="float: right" class="msg me">
    <div>
      <div *ngIf="text" [innerHtml]="text"  class="msg_text"></div>
      <img *ngIf="imageURL" [src]="imageURL" style="cursor: pointer" (click)="openInNewTab(imageURL)" class="msg_text" />
    </div>
    <span class="msg_timestamp" [innerHtml]="date | date : 'medium'"></span>
  </div>

</div>
