.msg {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.msg_text {
  width: 100%;
  max-width: 300px;
  word-wrap: break-word;
  text-align: center;
}

.me .msg_text {
  background-color: #30A9FF;
  color: white;
  padding: 8px;
  border-radius: 15px;

}

.them .msg_text {
  background-color: #e0e0e0;
  color: #333;
  padding: 7px;
  border-radius: 15px;
}

.authorimg {
  margin: 0 5px 5px 5px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.msg_timestamp {
  color: gray;
  font-size: 11px;
  margin: 0 12px;
}

.me .msg_timestamp {
  text-align: right;
  float: right;
}
