<!-- TAB NAVIGATION -->
    <ul class="nav nav-tabs" role="tablist">

      <li *ngFor="let user of openedChats; let i = index"
          [routerLink]="['./chat', user.id]" routerLinkActive="active" style="cursor: pointer">
        <!--<a [innerHtml]="(users$ | async)[user].name"></a>-->
        <a>
          {{user.name}}
          <span class="glyphicon glyphicon-remove close-chat"
          (click)="closeChat(user, i)"
          ></span>
        </a>
      </li>

      <label for="toggle" class="toggle_label"></label>
      <input type="checkbox" class="toggle" id="toggle" [(ngModel)]="showSidebar">
    </ul>
    <!-- TAB CONTENT -->
    <div class="tab-content">
      <div style="flex-grow: 1; height: 100%" (click)="showSidebar = false">
        <router-outlet></router-outlet>
      </div>
      <div class="sidebar" [ngClass]="{'opened': showSidebar, 'closed': !showSidebar}">
        <ul class="nav nav-pills nav-stacked" >
          <li *ngFor="let user of users$ | async | keys; let i = index"
              style="cursor: pointer"
              (click)="openChat(user, i)">
            <a [innerHtml]="getName(user, i)"></a>
          </li>
        </ul>
      </div>

    </div>


