<!-- TAB NAVIGATION -->
    <ul class="nav nav-tabs" role="tablist">

      <li *ngFor="let user of chatService.openedChats; let i = index"
          [ngClass]="{'active': user.id === id}"
          (click)="id = user.id"
          style="cursor: pointer">
        <a newMessage [id]="user.id">
          {{user.name}}
          <span class="glyphicon glyphicon-remove close-chat"
          (click)="closeChat(user, i)"
          ></span>
        </a>
      </li>

      <label for="toggle" class="toggle_label"></label>
      <input type="checkbox" class="toggle" id="toggle" [(ngModel)]="showSidebar">
    </ul>
    <!-- TAB CONTENT -->
    <div class="tab-content">
      <div style="flex-grow: 1; height: 100%" (click)="showSidebar = false">
        <chat *ngIf="id" [id]="id"></chat>
      </div>
      <div class="sidebar" [ngClass]="{'opened': showSidebar, 'closed': !showSidebar}">
        <ul class="nav nav-pills nav-stacked" >
          <li *ngFor="let user of users$ | async | keys"
              style="cursor: pointer"
              (click)="openChat(user)">
            <a newMessage [id]="user" [playSound]="true" [innerHtml]="getName(user)"></a>
          </li>
        </ul>
      </div>

    </div>


